html, body, header, footer {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}

/*header*/
header {
    display: flex;
    justify-content:space-between;
    background-color: black;
}
a:visited {
    text-decoration: none;
    color: limegreen;
    font-style: normal;
}
a:hover{
    text-decoration: underline;
    color: lime;
    font-style: normal;
}
a {
    text-decoration: none;
    color: lime;
    font-style: normal;
}
.link{
    display: flex;
    align-items: center;
    margin-left: 2%;
    width: 10%;
}
img{
    padding: 5% 10% 5% 10%;
}
#fbk{
    margin-left: 30%;
}
#torche{
    margin-left: 50%;
}
nav, ul{
    display: flex;
}
nav{
    margin-right: 10%;
}
ul{
    align-items: center;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
li{
    font-family: "silkscreen", "courrier new", sans-serif;
    font-size: 1.4em;
    text-align: center;
    margin-right: 8%;
    border-right: lime solid 1px;
}
.menu-small{
    display: none;
}
/*fin header*/

h2 {
    color: limegreen;
    font-size: 1.3em;
    font-family: "silkscreen", "courrier new", sans-serif;
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    background-size: cover;
    position: relative;
}
body:before {
    content: "";
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-image: url("../logo/background/background1.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(7px);
    z-index: -1;
}
/*ajout fond noir, ajout image arriere plan, pas de repetition, fixé et reste aux mêmes dimensions, ajout
effet flou a l'arriere-plan. pour que ce soit uniquement l'arrierement qui soit flouté, ajout d'une valeur negative
dans z-index*/

section{
    background-color: black;
    border: lime solid 1px;
    width: 30%;
    margin: auto;
    text-align: center;
}
/**/
footer {
    background-color: black;
}
h4 {
    color: limegreen;
    font-family: "silkscreen", "courrier new", sans-serif;
    font-size: 1em;
    text-align: center;
}
.p2{
    font-family:"silkscreen", "courrier new", sans-serif; ;
    font-size: 1em;
    color: grey;
    padding: 2%;
}
.p1 {
    color: gray;
    font-family: "silkscreen", "courrier new", sans-serif;
    font-size: 1em;
    text-align: center;
}

/*ajouter une nouvelle police avec un seul format*/
@font-face {
    font-family: 'dogica';
    src: url('../fonts/dogica.ttf') format('truetype');
}

/*ajouter une nouvelle police avec plusieurs formats*/
@font-face {
    font-family: 'silkscreen_expandedbold';
    src: url('../fonts/slkscreb-webfont.eot');
    src: url('../fonts/slkscreb-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slkscreb-webfont.woff') format('woff'),
    url('../fonts/slkscreb-webfont.ttf') format('truetype'),
    url('../fonts/slkscreb-webfont.svg#silkscreen_expandedbold') format('svg');
}

@font-face {
    font-family: 'rainyhearts';
    src: url('../fonts/rainyhearts.ttf') format('truetype');
}

@font-face {
    font-family: 'silkscreen';
    src: url('../fonts/slkscr.ttf') format('truetype');
url('../fonts/slkscrb.ttf') format('truetype');
url('../fonts/slkscre.ttf') format('truetype');

}

@media screen and (max-width: 900px) {
    header{
        display: flex;
        justify-content: flex-start;
    }
    .link{
        display: flex;
        width: 5%;
        margin-left: 10%;
        margin-right: 40%;
    }
    body:before {
        content: "";
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        background-image: url("../illustration/1x/resolution_courte.png");
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        filter: blur(7px);
        z-index: -1;
    }
    .menu-large{
        display: none;
    }
    .menu-small{
        display: block;
    }
    nav{
        display: flex;
        margin-right: 0;
        text-align: center;
    }
    nav ul li{
        border-right: none;
        list-style-type: none;
    }
    nav ul::after{
        content: "";
        display: table;
    }
    nav a{
        display: block;
    }
    .sous{
        display: none;
        box-shadow: 0px 1px 2px limegreen;
        background-color: black;
        position: fixed;
        width: 500px;
        z-index: 1;
    }
    nav > ul li:hover .sous{
        display: block;
    }
    .sous li{
        font-size: 0.8em;
        text-align: left;
    }
    .sous a{
        padding: 1% 1% 2% 1%;
        border-bottom: none;
    }
    section{
        width: 60%;
        margin: auto;
    }
    h4 {
        color: limegreen;
        font-family: "silkscreen", "courrier new", sans-serif;
        font-size: 0.9em;
        text-align: center;
        margin-bottom: 10px;
    }
}