/* aucune marge interrieur ni exterieur pour les elements inqiqués*/
html, body, header, footer {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
a:visited {
    text-decoration: none;
    color: limegreen;
    font-style: normal;
}
a:hover{
    text-decoration: underline;
    color: lime;
    font-style: normal;
}
a {
    text-decoration: none;
    color: lime;
    font-style: normal;
}
img{
    padding: 5% 10% 5% 10%;
}
.link{
    display: flex;
    align-items: center;
    margin-left: 2%;
    width: 10%;
}
#fbk{
    margin-left: 30%;
}
nav, ul{
    display: flex;
}
nav{
    margin-right: 10%;
}
ul{
    align-items: center;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
li{
    font-family: "silkscreen", "courrier new", sans-serif;
    font-size: 1.4em;
    text-align: center;
    margin-right: 8%;
    border-right: lime solid 1px;
}
.menu-small{
    display: none;
}
/*header*/
header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: black;
}

/*body
ajout fond noir, ajout image arriere plan, pas de repetition, fixé et reste aux mêmes dimensions
rendre la page responsaive, ajout de regles selon certains parametres*/
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    background-image: url("../logo/background/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}
/*fin header*/


/*pied de page, fond noir, largeur, pas d'espace entre le footer et le bas de la page, bordure,
position fixé */
footer {
    background-color: black;
}
h2, h4 {
    color: limegreen;
    font-family: "silkscreen", "courrier new", sans-serif;
    text-align: center;
}
h2{
    font-size: 1.4em;
}
h4 {
    font-size: 1em;
}
p, p1 {
    color: gray;
    font-family: "silkscreen", "courrier new", sans-serif;
    font-size: 1em;
    text-align: center;
}
/*ajouter une nouvelle police avec un seul format*/
@font-face {
    font-family: 'silkscreen_expandedbold';
    src: url('../fonts/slkscreb-webfont.eot');
    src: url('../fonts/slkscreb-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slkscreb-webfont.woff') format('woff'),
    url('../fonts/slkscreb-webfont.ttf') format('truetype'),
    url('../fonts/slkscreb-webfont.svg#silkscreen_expandedbold') format('svg');
}

@font-face {
    font-family: 'rainyhearts';
    src: url('../fonts/rainyhearts.ttf') format('truetype');
}

@font-face {
    font-family: 'silkscreen';
    src: url('../fonts/slkscr.ttf') format('truetype');
url('../fonts/slkscrb.ttf') format('truetype');
url('../fonts/slkscre.ttf') format('truetype');

}
/*mediaquerries*/
@media screen and (max-width: 900px) {
    header{
        display: flex;
        justify-content: flex-start;
    }
    .link{
        display: flex;
        width: 5%;
        margin-left: 10%;
        margin-right: 40%;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url("../illustration/1x/resolution_courte.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100%;
        min-width: 100%;
        position: relative;
    }
  .menu-large{
      display: none;
  }
  .menu-small{
      display: block;
  }
    nav{
        display: flex;
        margin-right: 0;
        text-align: center;
    }
    nav ul li{
        border-right: none;
        list-style-type: none;
    }
    nav ul::after{
        content: "";
        display: table;
    }
    nav a{
        display: block;
    }
    .sous{
        display: none;
        box-shadow: 0px 1px 2px limegreen;
        background-color: black;
        position: fixed;
        width: 500px;
        z-index: 1;
    }
    nav > ul li:hover .sous{
        display: block;
    }
    .sous li{
        font-size: 0.8em;
        text-align: left;
    }
    .sous a{
        padding: 1% 1% 2% 1%;
        border-bottom: none;
    }
    h4 {
        font-size: 0.9em;
        margin-bottom: 10px;
    }
    p.p1 {
        font-size: 0.8em;
    }
}
