
@font-face {
    font-family: 'silkscreen_expandedbold';
    src: url('../fonts/slkscreb-webfont.eot');
    src: url('../fonts/slkscreb-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slkscreb-webfont.woff') format('woff'),
    url('../fonts/slkscreb-webfont.ttf') format('truetype'),
    url('../fonts/slkscreb-webfont.svg#silkscreen_expandedbold') format('svg');
}

@font-face {
    font-family: 'rainyhearts';
    src: url('../fonts/rainyhearts.ttf') format('truetype');
}

@font-face {
    font-family: 'silkscreen';
    src: url('../fonts/slkscr.ttf') format('truetype');
url('../fonts/slkscrb.ttf') format('truetype');
url('../fonts/slkscre.ttf') format('truetype');

}
@media screen and (min-width: 300px) {
    /*hauteur, largeur, texte centré, background.
    Le z-index est un test, il servira pour d'autres éléments du site*/
    body {
        background-color: black;
        min-width: 100%;
        text-align: center;
        z-index: -2;
    }

    /*partie liens : couleur et police
    + affichage au survol de la souris*/
    a {
        color: green;
        font-family: "silkscreen", "courrier new", sans-serif;
    }
    a:hover {
        color: lime;
    }

    /*header
    affichage avec flex*/
    header {
        display: flex;
        justify-content: space-between;
        background-color: black;
    }

    /*affichage de la div link + img dans le header
    les images n'ont pas toutes les même dimensions, réglages différents*/
    .link {
        display: flex;
        margin: .5rem 2rem 0 2rem;
    }
    .link img {
        margin-right: 1rem;
    }
    #youtube, #fbk{
        width: 30px;
    }
    #youtube {
        margin-top: .6rem;
    }
    #fbk {
        margin-top: .3rem;
        height: 30px;
    }
    #torche {
        width: 35px;
        height: 45px;
        display: none;
    }

    /*attention
    balise nav dans une div dont l'id est nav +
    aucune puce*/
    #nav nav {
        margin-right: 2rem;
    }
    ul {
        list-style-type: none;
    }

    /*affichage  du petit menu de la div #nav*/
    .menu-400 {
        margin-top: .5rem;
        margin-right: 3rem;
    }
    .menu-400 li a{
        font-size: 1.5rem;
        color: #32CD32;
        font-family: "silkscreen", "courrier new", sans-serif;
    }

    /*menu pour les écrans plus grands.
    Caché pour ce format d'écran*/
    .menu-large {
        display: none;
    }

    /*lien du menu-400 vers celui-ci
    alignement horizontale et verticale avec justify-content et align-items
    définition des marges pour ce menu (et li)
    et ajout de transition pour les liens ayant la classe bloc*/
    .menu {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8rem 5rem 0 5rem;
    }
    .menu li {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .bloc {
        font-size: 2rem;
    }
    .bloc:hover {
        transform: scale(2);
        transition: transform 3s, 1s;
        font-size: 2.2rem;
    }
    /*fin header*/

    /*--------------------------------------------------*/

    /*section particulière,  ne contient rien à part ce background
    pas réussi à avoir l'affichage actuel sans ceci
    le height est a 80vh, sinon il y a un défilement, mais augmente la taille du footer. l'unité en % ne fonctionne pas ici
    si on le met, il n'y a plus de background*/
    #back {
        background-image: url("../logo/background/resolution-smartphone.png");
        background-size: cover;
        background-position: center;
        height: 80vh;
    }
    /*---------------------------------------------------*/

    /*footer*/
    footer {
        background-color: black;
    }
    footer h4{
        margin-top: .5rem;
    }
    footer p{
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #666666;
        font-family: "silkscreen", "courrier new", sans-serif;
    }
    /*fin de la parie index*/

    /*Si idées d'améliorations, les noter ici*/
}

@media screen and (min-width: 400px) {
    #back {
        background-position: 20% 70%;
    }
}
@media screen and (min-width: 700px) {
    #back {
        background-image: url("../logo/background/background1.png");
        background-position: 20% 20%;
    }
}
@media screen and (min-width: 1000px) {

    #torche {
        display: block;
    }


    #nav nav {
        margin-right: 2rem;
    }
    .menu-400 {
        display: none;
    }


    .menu-large {
        display: flex;
        margin-right: 1rem;
    }
    .menu-large {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .menu-large li {
        margin-right: 1rem;
        margin-left: .3rem;
        padding-right: .8rem;
        padding-bottom: 1rem;
    }
    .menu-large li a {
        font-size: 1.3rem;
    }
    .menu-large li:hover {
        border-bottom: lime solid 1px;
    }
    .menu-large li a:hover {
        text-decoration-line: none;
    }
}

