
</main>
<footer>

<p>Copyright - All rights reserved - GEEK-TAKU</p>

<a href="{{ path('geek-taku_mentions-legales') }}">Mentions légales</a>
<a href="{{ path('geek-taku_contact') }}">Contact</a>
<a href="{{ path('geek-taku_cv') }}">Télécharger mon CV</a>

</footer>
</body>
</html>